  .main {
    width: 100%;
    width: auto;
    border: none;
    min-height: 1000px;
    background-color: white;
    position: relative;
    top: 3rem;
    margin: 0 2.4rem;
    border-radius: 3rem 3rem 0 0;
    padding: 6.4rem 5.6rem 14.6rem;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 5%);
  }



@media (min-width: 966px) {
  .container {
    display: flex;
    margin: 0 auto;
    align-items: flex-start;
    max-width: 117.0rem;
  }

  .main {
    width: 100%;
    /* width: auto; */
    border: 1px solid #a8abc1;
    min-height: 1000px;
    background-color: white;
    position: relative;
    top: 3rem;
    margin-right: auto;
    border-radius: 3rem 3rem 0 0;
    padding: 6.4rem 5.6rem 14.6rem;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 5%);
  }

  .wrapper {
    display: flex;
    justify-content: flex-start;
  }
}