.sidebar {
    /* padding: 4.22rem 0 2.73rem 0;
    height: 100%;
    position: sticky;
    width: 12.0rem; */
    /* background-color: white; */
    /* background-color: #21243d;
    top: 3rem;
    margin-right: 2rem;
    margin-left: auto;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: .1rem solid #e6e7ee;
    color: #a8abc1;
    font-weight: 500;
    font-size: 1.3rem; */
    position: fixed;
    height: 10rem;
    padding: 16px 40px;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    border: 1px solid #e6e7ee;
    background-color: #fff;
    color: #a8abc1;
    height: 56px;
    border-radius: 30px;
    bottom: 1rem;
    left: auto;
    margin-left: auto;

}

.nav {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    justify-content: space-between;
}

.navItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin-bottom: 2rem; */
    padding: 1.6rem 1.2rem;
}

@media (min-width: 966px) {
    .sidebar {
        padding: 4.22rem 0 2.73rem 0;
        height: 100%;
        position: sticky;
        width: 12.0rem;
        background-color: white;
        /* background-color: #21243d; */
        top: 3rem;
        margin-right: 2rem;
        margin-left: auto;
        border-radius: 3rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        border: .1rem solid #e6e7ee;
        color: #a8abc1;
        font-weight: 500;
        font-size: 1.3rem;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    .navItem {
        display: flex;
        align-items: center;
        flex-direction: column;
        /* margin-bottom: 2rem; */
        padding: 1.6rem 1.2rem;
    }
}