.moduleHeader {
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 1;
    color: #21243d;
    margin-bottom: .8rem;
}

.moduleText {
    font-family: Source Sans Pro, sans-serif;
    font-size: 1.5rem;
    line-height: 1.6;
    color: #21243d;
}

.starterHeader {
    display: flex;
    justify-content: space-between;
}

.starterHeader p:first-child {
    font-size: 12px;
    font-family: Source Sans Pro, sans-serif;
    font-weight: 600;
    letter-spacing: .24rem;
    color: #a8abc0;
    margin-bottom: 8 px;
    text-transform: uppercase;
}

.starterHeader p:last-child {
    text-align: end;
    font-size: 12px;
    font-family: Source Sans Pro, sans-serif;
    font-weight: 600;
    letter-spacing: 2.4px;
    color: #eb5b77;
    margin-bottom: 8 px;
    text-transform: uppercase;
}


.starterLinks P:first-child {
    font-size: 13px;
    font-family: Source Sans Pro, sans-serif;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
    color: #21243d;
}


.starterLinks P:last-child {
    text-align: end;
    height: unset;
    padding: 5px 6px;
    font-size: 13px;
    font-family: Source Sans Pro, sans-serif;
    font-weight: 400;
    color: #eb5b77;
    text-decoration: underline;
    cursor: pointer;
    border: none;
    background-color: transparent;
}