.card {
    flex: 1 1 30%;
    max-width: 20.5rem;
    width: 100%;
    margin: 0 2.4rem 2.4rem 0;
    border-radius: 1.6rem;
    box-shadow: 0 .8rem 1.6rem 0 rgb(0 0 0 / 5%);
    display: flex;
    flex-direction: column;
    border: none;
    background-color: #fff;
    overflow: hidden;
}

.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.2rem 1.5rem 1.6rem;
    flex: 1 1 auto;
}

.cardTitle {
    margin-bottom: .4rem;
    min-height: 5.8rem;
}

.cardCta {
    padding: 0 1.0rem;
    border-radius: 2.0rem;
    background-color: #fdf4f6;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: #eb5b77;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 3.0rem;
}

.cardLink {
    font-size: 1rem;
    color: #476176;
    text-decoration: underline;
    cursor: pointer;
}